.login_font{ 
		font-family: arial, helvetica, sans-serif;
  		font-size: 16px; 
  		FONT-WEIGHT: bold;
}
.login_first_col{
		font-size : 12px; 
		font-family: arial,helvetica,sans-serif;
		FONT-WEIGHT: bold;  	
		color : #FFFFFF; 
		 width:180;
		 height : 35;
		background-color:#0088CC;
}
	
.login_sec_col{
		font-size : 12px; 
		font-family: arial,helvetica,sans-serif;
		FONT-WEIGHT: bold;  	
		border : 1px solid #0088CC; 
		
}
.login_font_gray{
		font-size : 10px; 
		font-family: arial,helvetica,sans-serif;
		color=gray;
}

.login_font_annon{
		font-size : 12px; 
		font-family: arial,helvetica,sans-serif;
		color=black;
}
	
.login_input{
		font-size : 8pt; 
		font-family: verdana,helvetica,sans-serif;
		font-weight: 500;  	
		color : #333333; 
		border : 1px; 
		background : #FFFFFF; 
}

.finiq{
		font-size : 12px; 
		font-family: arial,helvetica,sans-serif;
		
}

body { font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px; }
h1 { font-size:18px }	
a:link { color:#33c }	
a:visited { color:#339 }	

/* This is where you can customize the appearance of the tooltip */
div#tipDiv {
  position:absolute; visibility:hidden; left:0; top:0; z-index:10000;
  background-color:#dee7f7; border:1px solid #336; 
  width:250px; padding:4px;
  color:#000; font-size:11px; line-height:1.2;
}
/* These are optional. They demonstrate how you can individually format tooltip content  */
div.tp1 { font-size:12px; color:#336; font-style:italic }
div.tp2 { font-weight:bolder; color:#337; padding-top:4px }

a:link			{text-decoration : none;}
a:active		{text-decoration : none;}
a:visited 	{text-decoration : none;}
a:hover 		{text-decoration : none; color : maroon;}
input 			{font-size: 9pt;}

.GrayData {FONT-WEIGHT: bold; FONT-SIZE: xx-small; BACKGROUND: #004080; COLOR: white;FONT-FAMILY: Verdana}
.Round {BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 6pt; BACKGROUND-IMAGE: url(../images/help.gif); OVERFLOW: hidden; BORDER-LEFT: medium none; WIDTH: 20px; CURSOR: hand; COLOR: white; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana; HEIGHT: 20px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center}
.RowData {FONT-SIZE: xx-small; BACKGROUND-COLOR: #f3f3f3; FONT-FAMILY: Verdana}

.menu1:visited {font-size: 7.5pt;font-family:Verdana; color:#FFFFFF; font-weight:normal;text-decoration: none}
.menu1:link {font-size: 7.5pt;font-family:Verdana; color:#FFFFFF; font-weight:normal;text-decoration: none}
.menu1:hover {font-size: 7.5pt;font-family:Verdana; color:#FFCC00; font-weight:normal;text-decoration: none}

.cr_td_title		{font-family: verdana; font-weight:bold; font-size: 7.5pt; background-color: #FFE2C6; color:#3A3A3A;	background-position : top;vertical-align : left; }
.cr_td1			{font-family: verdana; font-size: 7.5pt; background-color: #FFFFFF; color:#3A3A3A;	background-position : top;vertical-align : left; }
.cr_td2			{font-family: verdana; font-size: 7.5pt; background-color:#FFFFFF; color:Navy; background-position : top; vertical-align : left;}
.cr_td3			{font-family: verdana; font-size: 7.5pt; background-color:#FFFFF4; color:Navy; background-position : top; vertical-align : left;}

.welcome							{font-size : 7pt;	color : #004080; font-weight: normal; font-family: verdana}
.table.menu TD				{border:1px solid #0080C0;}
.menu_row							{font-size: 7.5pt; font-family: Verdana; color: #0080C0; background-color: #F6FFF8; font-weight: bold}

.menu_row1						{font-size: 7.5pt; font-family: Verdana; color: #0080C0; background-color: #F6FFF8; font-weight: bold}

.form_non_input				{font-size : 7pt; font-family: verdana,helvetica,sans-serif;font-weight: 500;  	color : #003366; }
.form_field						{font-size: 7pt; font-family: Verdana; color: #464646; font-weight: bold; background-position : top }
.remarks 							{color:#FF0000; font-family:verdana; font-size:7.5pt; font-weight:normal}

.headers							{font-size: 7.5pt; color: #000000; font-weight: bold; background-repeat: no-repeat; font-family : Verdana; }
.headers1							{font-size: 7.5pt; color: #333333; font-weight: bold; background-repeat: no-repeat; font-family : Verdana; }
.headers2							{font-size: 7.5pt; color: #FFFFFF; font-weight: bold; background-repeat: no-repeat; font-family : Verdana; }
.report_header1				{font-size: 8pt; font-weight: normal; color: #FFFFFF; background-color: #004080;font-family:arial Narrow}
.report_header2				{font-size: 8pt; font-weight: normal; color: #FFFFFF; background-color: #004080;font-family:arial Narrow}
.system_title					{font-size: 8pt; font-weight: normal; color: #FFFFFF; background-color: #004080;font-family:arial Narrow}
.system_message				{font-size: 8pt; font-weight: normal; color: #FFFFFF; background-color: #004080;font-family:arial Narrow}
.paginate							{font-size: 7.5pt; font-family : verdana, Courier, monospace; color: gray; font-weight : normal; background-color: white;}
.form_input						{font-size : 7pt; font-family: verdana,helvetica,sans-serif;font-weight: 500;  	color : #333333; border : 1px solid #333333; background : #FFFFFF; }
.form_input_readonly			{font-size : 7pt; font-family: verdana,helvetica,sans-serif;font-weight: 500;  	color : #333333; border : 1px solid #333333; background : #D8D8D8; }
.form_button					{text-decoration: none; font-family: Verdana; font-size: 9 px; background: #D6E7EF; border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5; color:#000066;cursor: hand }
.form_button1					{text-decoration: none; font-family: Verdana; font-size: 9 px; background: #D6E7EF; border-bottom: 0px solid #104A7B;border-right: 1px solid #104A7B;border-left: 2px solid #AFC4D5;border-top:0px solid #AFC4D5; color:#000066;cursor: hand }

.table TD							{border:1px solid #C1CDD8;}
.table_title					{font-size: 7pt; font-weight: bold; color: black; background-color: #FFFF99;font-family:verdana;text-align : center}
.table_row1						{font-family: Arial; font-size: 7.5pt; background-color:#FFFFFF; color:#3A3A3A; background-position : top; vertical-align : TOP;}
.table_row2						{font-family: Arial; font-size: 7.5pt; background-color: #FFF7E5; color:#3A3A3A;	background-position : top;vertical-align : TOP;}
.table_row3						{font-family: Arial; font-size: 7.5pt; background-color: #CFEFE3; color:#3A3A3A;	background-position : top;vertical-align : TOP;}
.table_row4						{font-family: Arial; font-size: 7.5pt; background-color: #EEEEEE; color:#3A3A3A;	background-position : top;vertical-align : TOP;}
.table_row5						{border:0px; font-family: Arial; font-size: 7.5pt; background-color:#FFFFFF; color:#3A3A3A; background-position : top; vertical-align : TOP;}

.index TD					{border:1px solid #0080C0;}
.index2 TD				{border:1px solid #C1CDD8;}
.index3						{border:1px solid #C1CDD8;background-color:#FFF7E5;}
.index_title			{font-size: 8pt; font-weight: bold; color: maroon; background-color: #FFFFFe;font-family:verdana;text-align : left}
.index_title2			{font-size: 7pt; font-weight: bold; color: navy; background-color: yellow;font-family:verdana;text-align : left}
.index_row1				{font-family: Arial; font-size: 7.5pt; background-color:#FFFFFF; color:#3A3A3A; background-position : top; vertical-align : TOP;}
.index_row2				{font-family: Arial; font-size: 7.5pt; background-color: #FFF7E5; color:#3A3A3A;	background-position : top;vertical-align : TOP;}
.index_row3				{font-family: Arial; font-size: 7.5pt; background-color: #D9CDA8; color:#3A3A3A;	background-position : top;vertical-align : TOP;}
.index_row4				{font-family: Arial; font-size: 7.5pt; background-color: #CFEFE3; color:#3A3A3A;	background-position : top;vertical-align : TOP;}
.index_row5				{font-family: verdana; font-size: 7.5pt; background-color: #cbebfa; color:navy;	background-position : top;vertical-align : TOP; font-weight: bold}
.index_row6				{font-family: verdana; font-size: 7pt; background-color: #ffdfdf; color:red;	background-position : top; font-weight: bold}
.index_row7				{font-family: verdana; font-size: 7pt; background-color: #FFF7E5; color:navy;	background-position : top; font-weight: normal}
.index_row8				{font-family: verdana; font-size: 7.5pt; background-color: #FFF7E5; color:navy;	background-position : top; font-weight: normal}
.index_row9				{font-family: verdana; font-size: 7pt; background-color: #FFF7E5; color:navy;	font-weight: normal}
.index_row10				{font-family: verdana; font-size: 7.5pt; background-color: #FFF7E5; color:green;	background-position : top; font-weight: bold; }
.index_row11				{font-family: verdana; font-size: 7.5pt; background-color: #FFFFFF; color:green; background-position : top; vertical-align : TOP; ; font-weight: normal}
.index_row12				{font-family: verdana; font-size: 7.5pt; background-color: yellow; color:navy;	background-position : top;vertical-align : TOP;; font-weight: bold}
.index_row13				{font-family: verdana; font-size: 7pt; background-color: #FFCC00; color:maroon;	background-position : top; font-weight: bold}
.index_row14				{border-top:1px solid #C1CDD8; border-left1px solid #C1CDD8;border-right:1px solid #C1CDD8;;background-color:gray; font-family: verdana; font-size: 7.5pt; color:white;	background-position : top; font-weight: bold; }
.index_row15	TD			{border-bottom:1px solid #C1CDD8;font-family: Arial; font-size: 7.5pt; background-color:#FFF7E5; color:#3A3A3A; background-position : top; vertical-align : TOP;}
.index_row16	TD			{border-bottom:1px solid #C1CDD8;font-family: Arial; font-size: 7.5pt; background-color:#f7ffe6; color:#3A3A3A; background-position : top; vertical-align : TOP;}
.index_row17				{font-family: verdana; font-size: 7.5pt; color:green; background-position : top; vertical-align : TOP; ; font-weight: bold}
.index_row18				{font-family: verdana; font-size: 7.5pt; color:maroon; background-position : top; vertical-align : TOP; ; font-weight: bold}
.index_row19				{border-right:1px solid #C1CDD8;font-family: Arial; font-size: 7.5pt; background-color:#f7ffe6; color:#3A3A3A; background-position : top; vertical-align : TOP;}
.index_row20				{border-right:1px solid #C1CDD8;font-family: Arial; font-size: 7.5pt; background-color:#C1CDD8;font-family: Arial; font-size: 7.5pt; background-position : top; vertical-align : TOP;}

.message_table {border:1px solid #0080C0;}
.message_title 	{font-family: verdana; font-size: 7.5pt; color:Green; background-color: #f9f9e8; background-position : top; vertical-align : TOP; ; font-weight: bold}
.message_title1 	{font-family: verdana; font-size: 7.5pt; color:green; background-color: #f9f9e8; background-position : top; vertical-align : TOP; ; font-weight: bold}
.message_title2 	{font-family: verdana; font-size: 7.5pt; color:green;   background-color: #F4F8FB;background-position : top; vertical-align : TOP; ; font-weight: bold}
.message_subject 	{font-family: verdana; font-size: 7.5pt; color:Green; background-color: #f9f9e8; background-position : top; vertical-align : TOP; ; font-weight: normal}
.message_body			{font-family: verdana; font-size: 7.5pt; color:NAVY; background-color: #F4F8FB; background-position : top; vertical-align : TOP; ; font-weight: NORMAL}

.index_remarks		{font-weight: normal; font-family: Verdana; font-size: 7pt; background-position : top;vertical-align : TOP;}
.index_nodata			{border:1px solid #C1CDD8;}
.index_nodata1		{font-size: 7.5pt; font-weight: bold; color: black; background-color: #D9CDA8;font-family:verdana;text-align : center}

.deal_summary					{font-family: Verdana; font-size: 7.5pt; background-color: #FFFFFF; color:#3A3A3A;	background-position : top;vertical-align : TOP;}
.deal_summary_contact	{font-family: Verdana; font-size: 8pt; background-color: #FFFFFF; color:gray;	background-position : top;vertical-align : TOP;}
.deal_summary_contact2	{font-family: Verdana; font-size: 8pt; background-color: #FFFFFF; color:red;	background-position : top;vertical-align : TOP;; font-weight: bold}
.deal_summary_contact3	{font-family: Verdana; font-size: 8pt; background-color: #FFFFFF; color:green;	background-position : top;vertical-align : TOP;; font-weight: bold}

.form_title				 		{background-color: #C1CDD8; font-size: 7.5pt; color: black;	font-family : verdana; font-weight: bold}
.text_title				 		{font-size: 7.5pt; color: black; font-family : verdana; font-weight: bold}

.proposal_type TD			{background-color: #d0dff0;font-size: 7.5pt; color: gray;	text-align : right;	font-family : verdana; border-bottom:1px solid #C1CDD8; font-weight: bold;}
.proposal_type2	TD		{background-color: #FFCC99;font-size: 7.5pt; color: black;	text-align : right;	font-family : verdana; border-bottom:1px solid #C1CDD8; font-weight: bold;}
.proposal_type3	TD		{background-color: #FFCC99;font-size: 7.5pt; color: black;	text-align : center;	font-family : verdana; border-bottom:1px solid #C1CDD8; font-weight: bold;}

.log_detail					{border:1px solid navy; background-color: #FFFFFF;}
.abort_deal TD				{border:1px solid #FF8000;}
.abort_deal_title			{font-size: 7pt; font-weight: bold; color: navy; background-color: yellow;font-family:verdana;text-align : left; border:1px solid #FF8000;}
.abort_deal_content		{font-size: 7pt; color: maroon;	font-family : verdana; border:1px solid #FF8000; font-weight: bold; background-color: #FAF0DA}
.abort_deal_button		{text-decoration: none; font-family: Verdana; font-size: 10 px; background: #FF8000; border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5 ;border-top:1px solid #AFC4D5; color:white;cursor: hand; font-weight: bold;}

.content				{border:1px solid #C1CDD8; background-color: #F8FAFC}
.content_actv		{border-right:1px solid #C1CDD8; background-color: #F8FAFC}

.proposal	TD			{border:1px solid silver;}
.proposal_title		{font-size: 7pt; font-weight: bold; color: black; background-color: #D9CDA8;font-family:verdana;text-align : center}
.proposal_row1	{font-family: Arial; font-size: 7.5pt; background-color: #FFFFFF; color:#3A3A3A;	background-position : top;vertical-align : TOP;}
.proposal_row2	{font-family: Arial; font-size: 7.5pt; background-color: #FFF7E5; color:#3A3A3A;	background-position : top;vertical-align : TOP;}

.actv_table_detail					{border:1px solid #C1CDD8;}
.actv_table_detail_title		{font-size: 7pt; font-weight: bold; color: white; background-color: navy;font-family:verdana;text-align : left}
.actv_table_detail_contain	{font-size: 7pt; font-weight: normal; color: black; background-color: white;font-family:verdana;text-align : left}
.remark_content	{font-size: 7pt; font-weight: normal; color: maroon; background-color: #EEEEEE;font-family:verdana;text-align : left}


.search TD							{border:1px solid #C1CDD8;}
.search_title					{background-color: #C1CDD8; font-size: 7.5pt; color: black;	font-family : verdana; font-weight: bold}
.search_row						{font-family: Arial; font-size: 7.5pt; background-color: #E1E9F7; color:#3A3A3A; }
.search_input					{text-decoration: none;	font-family: Verdana; font-size: 7.5pt; BORDER-RIGHT: #828e9a 1px solid; BORDER-TOP: #828e9a 1px solid; BORDER-LEFT: #828e9a 1px solid; COLOR: #345576; LINE-HEIGHT: 11px; BORDER-BOTTOM: #828e9a 1px solid; BACKGROUND-COLOR: #FFFFFF}
.search_field					{font-size: 7.5pt; color: black;	text-align : left;	font-family : verdana;}
.search_button				{text-decoration: none; font-family: Verdana; font-size: 10 px; background: #D6E7EF; border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5; color:#000066;cursor: hand}
.search_loop					{font-size: 7pt; color: Navy;	text-align : right;	font-family : verdana;}
.search_loop:active		{font-size: 7pt; color: Navy;	text-align : right;	font-family : verdana;}
.search_loop:visited	{font-size: 7pt; color: Navy;	text-align : right;	font-family : verdana;}
.search_loop:link			{font-size: 7pt; color: Navy;	text-align : right;	font-family : verdana;}
.search_loop:hover 		{font-size: 7pt; color: Maroon;	text-align : right;	font-family : verdana;}
.not_available				{background-color: #C1CDD8; font-size: 7.5pt; color: black;	font-family : verdana; font-weight: bold}

.form_text_flat						{font-size : 7pt; font-family: verdana,helvetica,sans-serif;font-weight: 500;  	color : #333333; border : 1px solid #333333; background: #FFF7E5; text-align:left; border: 0px solid #000000;}







.actv_table	TD				{border:1px solid #C1CDD8;}
.actv_table_title			{font-size: 7pt; font-weight: bold; color: Navy; background-color: #FFFFAA;font-family:verdana;text-align : center}








.table_admin		{font-family: verdana,helvetica,sans-serif; font-size: 7.5pt; border-bottom: 1px #8EB1D5 solid; border-right: 1px  #8EB1D5 solid; border-top: 1px  #8EB1D5 solid; border-left: 1px  #8EB1D5 solid;background-color: #FFFFFF; color:#003366; }
.table_admin_sub	{font-family: verdana,helvetica,sans-serif; font-size: 7.5pt; background-color:white;color:#003366; }


.table_title:hover	{font-family: verdana,helvetica,sans-serif;	font-size: 7pt;	background-color:#003366;color: #C7E3BF;text-decoration : underline; }


.form_textarea		{font-size : 7pt; font-family: verdana,helvetica,sans-serif;	font-weight: 400;color : #333333; border : 1px solid #333333; background : #FFFFFF; }
.form_select 		{font-size : 7pt; font-family: verdana,helvetica,sans-serif;	font-weight: 200;color : #333333; border : 1px solid #333333; background : #FFFFFF; }

.other_details {font-size: 7pt; font-family: Verdana; color: navy; font-weight: bold; background-position : top }



.input			{text-decoration: none;	font-family: Verdana; font-size: 7.5pt; BORDER-RIGHT: #828e9a 1px solid; BORDER-TOP: #828e9a 1px solid; BORDER-LEFT: #828e9a 1px solid; COLOR: #345576; LINE-HEIGHT: 11px; BORDER-BOTTOM: #828e9a 1px solid; BACKGROUND-COLOR: #FFFFFF}
.input_type			{text-decoration: none;	font-family: Verdana; font-size: 7.5pt; BORDER-RIGHT: #828e9a 1px solid; BORDER-TOP: #828e9a 1px solid; BORDER-LEFT: #828e9a 1px solid; COLOR: Navy; LINE-HEIGHT: 11px; BORDER-BOTTOM: #828e9a 1px solid; BACKGROUND-COLOR: #FFFFFF}
.button_blue1	{text-decoration: none;	font-family: Verdana; font-size: 7.5pt; BORDER-RIGHT: navy 1px solid;	BORDER-TOP: navy 1px solid;	BORDER-LEFT: navy 1px solid;	COLOR: #000000;	LINE-HEIGHT: 12px;	BORDER-BOTTOM: navy 1px solid;	BACKGROUND-COLOR: #EAF4FF;	cursor:hand}
.button_blue2	{text-decoration: none;	font-family: Verdana; font-size: 8pt; BORDER-RIGHT: navy 1px solid;	BORDER-TOP: navy 1px solid;	BORDER-LEFT: navy 1px solid;	COLOR: maroon;	LINE-HEIGHT: 14px;	BORDER-BOTTOM: navy 1px solid;	BACKGROUND-COLOR: #EAF4FF;	cursor:hand ;font-weight: bold}
.button_blue	{text-decoration: none; font-family: Verdana; font-size: 10 px; background: #D6E7EF; border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5; color:#000066;cursor: hand}
.button_orange	{text-decoration: none; font-weight:bold;font-family: Verdana; font-size: 9 px; background: #c5d8eb; border-bottom: 1px solid c5d8eb;border-right: 1px solid c5d8eb;border-left: 1px solid c5d8eb;border-top:1px solid c5d8eb; color:#0A80A7;cursor: hand;width : 200px;}
.button_pink	{text-decoration: none; font-family: Verdana; font-size: 10 px; background: #F2E6FF; border-bottom: 1px solid #850385;border-right: 1px solid #850385;border-left: 1px solid #FF80FF;border-top:1px solid #FF80FF; color:#000000;cursor: hand}
.button_pink1	{text-decoration: none; font-family: Verdana; font-size: 7.5pt; BORDER-RIGHT: navy 1px solid; BORDER-TOP: navy 1px solid;  BORDER-LEFT: navy 1px solid; COLOR: #000000; LINE-HEIGHT: 12px; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #F2E6FF;cursor:hand}
.button_clear	{text-decoration: none; font-family: Verdana; font-size: 7  pt; BORDER-RIGHT: gray 0px solid; BORDER-TOP: gray 0px solid;  BORDER-LEFT: gray 0px solid; COLOR: navy; BORDER-BOTTOM: gray 0px solid; BACKGROUND-COLOR: #BEC9CD;cursor:hand}
.button_login	{text-decoration: none; font-family: Verdana; font-size: 9  pt; BORDER-RIGHT: navy 1px solid; BORDER-TOP: navy 1px solid;  BORDER-LEFT: navy 1px solid; COLOR: #000000; LINE-HEIGHT: 15px; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #EEEEEE; cursor:hand}

.contact_person {font-size: 7pt;font-family:Verdana;color:Navy}
.summary_tbl		{font-size: 7.5pt;font-family:Verdana;PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-COLOR:#c5d8eb;}
.summary_title	{font-weight: bold; color: Navy; background-color: #C5D8EB; padding-left : 5px;	height : 18px;}
.summary_sub_title	{font-weight: bold; color: #804000; height : 18px; font-family:verdana; font-size :7.5pt}
.summary_content {color:Navy; font-size:7.5pt; height : 18px;}
.summary_status	{font-size: 7pt; font-weight: bold; color: black; background-color: #C5D8EB; padding-left : 5px;	height : 14px;}
.summary_list:visited {font-size: 7.5pt;font-family:Arial; color:blue; font-weight:normal;text-decoration: none}
.summary_list:link {font-size: 7.5pt;font-family:Arial; color:blue; font-weight:normal;text-decoration: none}
.summary_list:hover {font-size: 7.5pt;font-family:Arial; color:#990000; font-weight:normal;text-decoration: none}


.summary_list {color:navy; font-size:7.5pt;font-family:Verdana}
.summary_link:hover {color:#990000; font-size:7.5pt;font-family:Verdana}
.summary_link:visited {color:Blue; font-size:7.5pt;font-family:Verdana}

.summary_tr			{background-color: #f5f9fc; PADDING-LEFT: 5px; HEIGHT: 24px}
.summary_td			{color:Navy; BORDER-BOTTOM: #c8d4e0 1px solid}
.summary_sub_tbl{font-size: 7.5pt;font-family:Verdana; color:Navy; HEIGHT: 18px}
.error_td			{color:Red; font-size: 7.5pt;font-family:Verdana; BORDER-BOTTOM: #c8d4e0 1px solid}

.menu:visited {font-size: 7.5pt;font-family:Verdana; color:#FFFFFF; font-weight:bold;text-decoration: none}
.menu:link {font-size: 7.5pt;font-family:Verdana; color:#FFFFFF; font-weight:bold;text-decoration: none}
.menu:hover {font-size: 7.5pt;font-family:Verdana; color:#FFFF75; font-weight:bold;text-decoration: none}


.select:visited {font-size: 7.5pt;font-family:Verdana; color:#FFFFFF; font-weight:normal;text-decoration: none}
.select:link {font-size: 7.5pt;font-family:Verdana; color:#FFFFFF; font-weight:normal;text-decoration: none}
.select:hover {font-size: 7.5pt;font-family:Verdana; color:#FFFF75; font-weight:normal;text-decoration: none}

.company_lookup {font-size: 7.5pt; color: #333333; font-weight: normal; background-repeat: no-repeat; font-family : Verdana; }
.company_lookup_inactive {font-size: 7.5pt; color: gray; font-weight: normal; background-repeat: no-repeat; font-family : Verdana; }
.status {font-size: 7pt; color: Black; font-weight: normal; background-repeat: no-repeat; font-family : Verdana; }

.headers3	{font-size: 7.5pt; color: gray; font-weight: normal; background-repeat: no-repeat; font-family : Verdana; }

.headers3:visited {font-size: 7.5pt; color: gray; font-weight: normal; background-repeat: no-repeat; font-family : Verdana; }
.headers3:link {font-size: 7.5pt; color: gray; font-weight: normal; background-repeat: no-repeat; font-family : Verdana; }
.headers3:hover {font-size: 7.5pt; color: maroon; font-weight: bold; background-repeat: no-repeat; font-family : Verdana; }

.header {font-family:Verdana; font-size: 8pt; font-weight:bold; color:#990000;  BACKGROUND-IMAGE: url(horiz_bg.gif)}

.remarks1	{font-size: 7.5pt; color: #cf740e; font-weight: bold; background-repeat: no-repeat; font-family : Verdana; }

.login				{font-size: 10pt; font-family : Arial}
.title 				{font-size: 8pt; font-family : Verdana; color: #990000; font-weight : bold}
.tbl_search 		{font-size: 7.5pt; font-family : Verdana; color: #FFFFFF; background-color: gray}

.tbl				{font-size: 7pt; font-weight: normal; color: Black;font-family:verdana;background-color: #c8d4e0}
.tbl_title	{font-size: 7pt; font-weight: bold; color: Navy; background-color: #FFFFAA;font-family:verdana;text-align : left}
.tbl_contain{background-color: #FFFFFF}
.no_record	{font-size: 8pt; font-weight: Normal; color: Navy; font-family:verdana}
.record_count	{font-size: 7.5pt; font-weight: Normal; color: Black; font-family:verdana; BACKGROUND-IMAGE: url(line1.gif)}

.tbl_search_content {font-size: 7.5pt; color: #666666; background-color: #eeeeee}
.link_sort  		{color="F4F3C4"}
.sorting  			{color="F4F3C4"}
.filter 			{font-size: 7.5pt; font-family : Verdana; color: #666666; background-color: #EEEEEE}
.err_msg							{color:#FF0000; font-family:verdana; font-size:10pt; font-weight:bold}

.page				{font-size: 7.5pt; font-family : Arial, Courier, monospace; color: #666666}<link rel="STYLESHEET" type="text/css" href="../../ISnet/includes/isnet.css">
.previous_next 		{font-size: 7.5pt; font-family : Verdana; color: Navy}

.admin_title		{font-size: 10pt; font-family : Verdana; color: #333333; font-weight: bold}
.admin_table1		{background-color: Gray}
.admin_table2		{background-color: #F8F5C7}
.admin_table3		{background-color: #BABABA}
.admin_sub_title	{font-size: 8pt; font-family : Verdana; color: #990000; background-color :#F2D797; font-weight: bold} 
.admin_field   		{font-size: 7.5pt; font-family: Verdana; color: Black; font-weight: bold; background-position : top; background-color: #FFFFFF}
.admin_data  		{font-size: 7pt; font-family: Verdana; color: Navy; font-weight: normal; background-position : top}
.admin_client	 	{font-size: 7.5pt; font-family: Arial}
.admin_mod_title	{font-size: 7.5pt; font-family: Arial}
.admin_mod			{font-size: 7.5pt; font-family: Arial; color: #FF0000}
.admin_desc	{font-size: 6.5pt; font-family: Verdana; color: gray; font-weight: normal; background-position : top }
.view_by		{font-size: 7pt; font-family: Verdana; color: #FFFFFF; font-weight: bold; background-position : top }
.admin_desc1 {font-size: 7pt; font-family: Arial; color: gray}

.searchcontent { font-size: 7.5pt; color: #666666; background-color: #eeeeee}
.searchtitle { font-size: 7.5pt; font-weight: normal; color: #FFFFFF; background-color: #004080;font-family:arial}
.reporttitle { font-size: 8pt; font-weight: normal; color: #FFFFFF; background-color: #004080;font-family:arial Narrow}
.reportcontent1 {font-size: 8pt;color: #3A3534; background-color: #F2D797;font-family:Arial Narrow}
.reportcontent2 {font-size: 8pt;color: #3A3534;	background-color: #F8F5C7;	font-family:Arial Narrow}
.pagecount {font-size: 7.5pt; color: #666666; background-color: #FFFFFF;font-family:arial}
.tablecontent1 {font-size: 7.5pt;color: #3A3534; background-color: #F2D797;font-family:arial}
.tablecontent2 {font-size 7.5pt;color: #3A3534;	background-color: #F8F5C7;	font-family:arial}

.norecord		{font-size: 7pt; color: gray; text-align : center; font-family : Arial;}




.CALcpYearNavigation,
	.CALcpMonthNavigation
			{
			background-color:#6677DD;
			text-align:center;
			vertical-align:center;
			text-decoration:none;
			color:#FFFFFF;
			font-weight:bold;
			}
	.CALcpDayColumnHeader,
	.CALcpYearNavigation,
	.CALcpMonthNavigation,
	.CALcpCurrentMonthDate,
	.CALcpCurrentMonthDateDisabled,
	.CALcpOtherMonthDate,
	.CALcpOtherMonthDateDisabled,
	.CALcpCurrentDate,
	.CALcpCurrentDateDisabled,
	.CALcpTodayText,
	.CALcpTodayTextDisabled,
	.CALcpText
			{
			font-family:arial;
			font-size:8pt;
			}
	TD.CALcpDayColumnHeader
			{
			text-align:right;
			border:solid thin #6677DD;
			border-width:0 0 1 0;
			}
	.CALcpCurrentMonthDate,
	.CALcpOtherMonthDate,
	.CALcpCurrentDate
			{
			text-align:right;
			text-decoration:none;
			}
	.CALcpCurrentMonthDateDisabled,
	.CALcpOtherMonthDateDisabled,
	.CALcpCurrentDateDisabled
			{
			color:#D0D0D0;
			text-align:right;
			text-decoration:line-through;
			}
	.CALcpCurrentMonthDate
			{
			color:#6677DD;
			font-weight:bold;
			}
	.CALcpCurrentDate
			{
			color: #FFFFFF;
			font-weight:bold;
			}
	.CALcpOtherMonthDate
			{
			color:#808080;
			}
	TD.CALcpCurrentDate
			{
			color:#FFFFFF;
			background-color: #6677DD;
			border-width:1;
			border:solid thin #000000;
			}
	TD.CALcpCurrentDateDisabled
			{
			border-width:1;
			border:solid thin #FFAAAA;
			}
	TD.CALcpTodayText,
	TD.CALcpTodayTextDisabled
			{
			border:solid thin #6677DD;
			border-width:1 0 0 0;
			}
	A.CALcpTodayText,
	SPAN.CALcpTodayTextDisabled
			{
			height:20px;
			}
	A.CALcpTodayText
			{
			color:#6677DD;
			font-weight:bold;
			}
	SPAN.CALcpTodayTextDisabled
			{
			color:#D0D0D0;
			}
	.CALcpBorder
			{
			border:solid thin #6677DD;
			}





