a.hf:active {text-decoration: none; font-weight: normal; font-family: "Arial"; font-size: 12px; color: #000000;}
a.hf:hover {text-decoration: underline; font-weight: normal; font-family: "Arial"; font-size: 12px; color: #000000;}
a.hf:link {text-decoration: none; font-weight: normal; font-family: "Arial"; font-size: 12px; color: #000000;}
a.hf:visited {text-decoration:none; font-weight: normal; font-family: "Arial"; font-size: 12px; color: #000000;}

a.info:active {text-decoration: none; font-weight: normal; font-family: "Arial"; font-size: 12px; color: #FFCC00;}
a.info:hover {text-decoration: underline; font-weight: normal; font-family: "Arial"; font-size: 12px; color: #FFCC00;}
a.info:link {text-decoration: none; font-weight: normal; font-family: "Arial"; font-size: 12px; color: #FFCC00;}
a.info:visited {text-decoration:none; font-weight: normal; font-family: "Arial"; font-size: 12px; color: #FFCC00;}

a.install:active {text-decoration: none; font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000099;}
a.install:hover {text-decoration: underline; font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000099;}
a.install:link {text-decoration: none; font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #6974b5;}
a.install:visited {text-decoration:none; font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #6974b5;}

a.kbase:active {text-decoration: underline; font-weight: bold; color: #000000;}
a.kbase:hover {text-decoration: underline; font-weight: bold; color: #000000;}
a.kbase:link {text-decoration: underline; font-weight: bold; color: #000000;}
a.kbase:visited {text-decoration: underline; font-weight: bold; color: #000000;}

a:active {text-decoration: none; color: #363636;}
a:hover {text-decoration: underline; color: #363636;}
a:link {text-decoration: none; color: #363636;}
a:visited {text-decoration: none; color: #363636;}

BODY {background: #FFFFFF ; color: black;}

input.box {border: 0px;}
input.non_input_box {border: 0px; background: #FFFFFF}
select, option, textarea, input {border: 1px solid #8C8984; font-family: Verdana, arial, helvetica, sans-serif; font-size: 11px; font-weight: bold; background: #EEEEEE; color: #000000;} 

table.border {background: #8C8984; color: black;}
table.border2 {background: #6974b5;}
table.install {background: #000099;}
td {color: #000000; font-size : 7.5pt; font-family: verdana,helvetica,sans-serif;font-weight: 500; color : #000000; }
td.back {background: #FFFFFF;font-size : 7.5pt; font-family: verdana,helvetica,sans-serif;font-weight: 500; color : #000000; }
td.back2 {background: #EEEEEE;font-size : 7.5pt; font-family: verdana,helvetica,sans-serif;font-weight: 500; color : #000000; }
td.cat {background: #EEEEEE; font-family: "Arial"; font-size: 12px; color: #000000;}
td.date {background: #EEEEEE; font-size : 7.5pt; font-family: verdana,helvetica,sans-serif;font-weight: 500; color : #000000; }
td.error {background: #EEEEEE; color: #ff0000; font-family: "Arial"; font-size: 12px;}
td.error_td {color: #ff0000; font-size: 7.5pt;font-family:Verdana; BORDER-BOTTOM: #c8d4e0 1px solid}
td.head {background:#6974b5; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
td.hf {background: #D0D0D0; font-size : 7.5pt; font-family: verdana,helvetica,sans-serif;font-weight: 500; color : #000000; }
td.info {font-size :8pt; font-family: Tahoma,verdana,helvetica,sans-serif;font-weight: bold; color : #FFFFFF; background: #990000;}
td.info1 {font-size :8pt; font-family: Tahoma,verdana,helvetica,sans-serif;font-weight: bold; color : #FFFFFF; background: #FF3300;}
td.install {background:#dddddd; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
td.stats {background: #EEEEEE; font-family: "Arial"; font-size: 10px; color: #000000;}
td.subcat {background: #EEEEEE; color: #000000; font-family: "Arial"; font-size: 12px;}
tr {color: #000000; font-size : 7.5pt; font-family: verdana,helvetica,sans-serif;font-weight: 500; color : #000000; }
tr.csvexport{text-align: right;}